<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Course Content Generator</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Educational Content Generator</h1>
        <form id="course-form">
            <input type="text" id="course-title" placeholder="Enter Course Title" required>
            <button id="submit-btn">Generate</button>
        </form>
        <div id="output"></div>
    </div>
    <script src='static/script.js'></script>
</body>
</html>
